{
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "plugins": ["prettier-plugin-hermes-parser", "prettier-plugin-tailwindcss"],
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "trailingComma": "all",
        "parser": "typescript"
      }
    }
  ],
  "printWidth": 80,
  "singleAttributePerLine": true,
  "arrowParens":"avoid"
}
